<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{end}}</title>
    <link rel="stylesheet" href="{{"/public-sans/stylesheet.css" | absURL }}">
    <link rel="stylesheet" href="{{ "/style.css" | absURL }}">
</head>
    <header>
        {{ partial "nav.html" . }}
    </header>
<body>
    <main>
        {{ block "main" . }}
        {{ .Content }}
        {{ end }}
    </main>
</body>
</html>