:root {
    --medium-gray: rgb(194, 193, 189);
    --text-color: black;
}

html {
    background-color: var(--medium-gray);
    color: var(--text-color);
    font-family: sans-serif;
}

body {
    margin: 0;
}

nav {
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

nav ul {
    padding: 0;
    display: inline-flex;
    list-style: none;
}

nav li {
    font-size: 1.25rem;
    padding: 4px;
    font-weight: lighter;
}

nav li a {
    text-decoration: none;
    padding: 4px;
}

a:visited {
    color: var(--text-color);
}

a:not(.nohover):hover {
    text-decoration: none;
    color: var(--medium-gray);
    background-color: black;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

main {
    margin: auto;
}

p {
    max-width: 80%;
}

figcaption {
    font-size: .85rem;
    font-style: italic;
}

.flex-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin:auto;
}

.flex-container .flex-p {
    max-width: 60%;
}

.flex-container figure {
    max-width: 40%;
}

.hero {
    background-size: cover;
    background-position-y: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-darken {
    background-color: rgba(0,0,0,.3);
    background-blend-mode:color-burn;
}

.bg-lighten {
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode:color-dodge;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}