{{ $src := .Get "src" }}
{{ $format := .Get "format" }}

<div class="gallery" {{with .Get "flex-wrap"}}style="flex-wrap:{{.}};"{{end}}>
{{ with .Page.Resources.Match (print $src "/*") }}
{{ range . }}
{{ $thumbnail := .Resize "500x" }}
{{ $medium := .Resize "1000x" }}
<a href="{{ $medium.RelPermalink }}" class="gallery-link" target="_blank" rel="noopener noreferrer">
{{ if eq $format "img" }}
<img class="gallery-img" src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}">
{{ else }}
<div class="gallery-div" style="background-image: url({{ $thumbnail.RelPermalink }});">
</div>
{{ end }}
</a>
{{ end }}
{{ end }}
</div>